#filestable {
  flex: 2;
  overflow-y: scroll;
}

#filestable th.sizecol,
#filestable th.timecol {
  font-weight: bold;
}

#filestable td {
  padding-top: 7px;
  padding-bottom: 7px;
}

#filestable .timecol {
  width: 140px;
  text-align: left;
  font-size: 0.6em;
}

#filestable .selectcol {
  width: 40px;
  text-align: center;
}

#filestable .sizecol {
  width: 60px;
  font-size: 0.6em;
  text-align: center;
}

#filestable .filecol {
  /* empty */
}

#filestable .buttoncol {
  width: auto;
  text-align: center;
}
