#filestable {
  flex: 2;
}

#filestable .selectcol {
  width: 40px;
  text-align: center;
}

#filestable .sizecol {
  width: 140px;
  font-size: 0.6em;
  text-align: center;
}

#filestable .filecol {
  /* empty */
}

#filestable .buttoncol {
  /* empty */
}

#filestable .download {
  /* empty */
}

#filestable .delete {
  /* empty */
}
