#convert-screen {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#convert-screen-header {
  flex: 0;
}

#convert-screen-table {
  flex: 2;
  overflow-y: scroll;
}

#convert-screen-footer {
  flex: 0;
}
