@import url('./css/base.css');
@import url('./css/photon.css');

/*

START PHOTON OVERRIDE

*/
.btn,
.btn * {
  cursor: pointer;
  user-select: none;
}

.btn,
a.btn {
  color: white;
  text-decoration: none;
}

.btn .icon {
  color: white;
}
.btn .icon ~ span { margin-left: 7px; }

.button-warning {
  background-color: #FCAA0E;
  border-color: #FCAA0E #FCAA0E #EE9D02;
}

.button-negative {
  background-color: #FB2F29;
  border-color: #FB2F29 #FB2F29 #FB1710;
}

.button-positive {
  background-color: #248B34;
  border-color: #29A03B #29A03B #248B34;
}

/* END PHOTON OVERRIDE */

body {
  background-color: #F1F1F1;
  font-family: helvetica, arial, sans-serif;
}

#root,
#react-container {
  height: 100%;
  min-height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.flex-rows {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-columns {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hide-on-large {
  display: none;
  visibility: hidden;
}

@media (max-width: 800px) {
  .hide-on-small {
    display: none;
    visibility: hidden;
  }

  .hide-on-large {
    display: inherit;
    visibility: visible;
  }

  #react-container {
    flex-direction: column;
  }

  #filesuploadform {
    flex: 1 !important;
    width: auto !important;
    height: 150px !important;
  }

  #application-content-table {
    flex: 3;
  }

  #filestable .timecol {
    width: 70px !important;
  }

  #filestable .buttoncol {
    padding-left: 7px;
    padding-right: 7px;
    width: 46px !important;
  }
}
